// ---------------------------------------------
// BUTTONS
// ---------------------------------------------

// CONTENTS
// Buttons
// Sizing
// Colors
// Icons in buttons
// Layouts
// Groups and Bars
// Split and dropdowns

// ----------------------------
// BUTTONS

  .btn {
    padding: $btn-padding;
    position: relative;
    display: inline-block;
    outline: 0;
    background-color: $btn-bg-color;
    border: $btn-border;
    border-radius: $btn-border-radius;
    box-shadow: $btn-box-shadow;
    color: $btn-text-color;
    @include font-size($btn-font-size);
    font-weight: $btn-font-weight;
    line-height: 20px;
    vertical-align: middle;
    cursor: pointer;
    transition: all $btn-ease, z-index 0.0001s;
    text-transform: $btn-text-transform;
    letter-spacing: $btn-text-letter-space;

    &:hover {
      background-color: $btn-hover-bg-color;
      border: $btn-hover-border;
      box-shadow: $btn-hover-box-shadow;
      color: $btn-hover-text-color;
    }

    &:active, &.active {
      background-color: $btn-active-bg-color;
      box-shadow: $btn-active-box-shadow;
      border: $btn-active-border;
      color: $btn-active-text-color;
      transition: all $btn-active-ease;
    }

    &.disabled,
    &[disabled] {
      background-color: $btn-disabled-bg-color;
      border: $btn-disabled-border;
      box-shadow: $btn-disabled-box-shadow;
      color: $btn-disabled-text-color;
      cursor: not-allowed;
    }
  } // /btn

  button::-moz-focus-inner,
  input[type="button"]::-moz-focus-inner,
  input[type="submit"]::-moz-focus-inner,
  input[type="reset"]::-moz-focus-inner {
    padding: 0 !important;
    border: 0 none !important;
  }

// ----------------------------
// TYPES

  .btn-square {
    border-radius: 0;
  }

  .btn-rounded {
    // border-radius: $btn-size/2;
    border-radius: 999px; // fix bug with doubleline button radius
  }

  .btn-circle {
    padding: 0;
    width: $btn-size;
    height: $btn-size;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;

    &.btn .icon {
      display: inline-block;
      vertical-align: middle;
    }
  }

// ----------------------------
// SIZING

  // button large
  .btn-large {
    padding: $btn-l-padding;
    @include font-size($btn-l-font-size);

    &.btn-link {
      padding-right: $btn-h-l-padding;
      padding-left: $btn-h-l-padding;
    }

    &.btn-rounded {
      border-radius: $btn-large-size/2;
    }

    &.btn-circle {
      padding: 0;
      width: $btn-large-size;
      height: $btn-large-size;
    }
  }

  // button small
  .btn-small {
    padding: $btn-s-padding;
    @include font-size($btn-s-font-size);

    &.btn-link {
      padding-right: $btn-h-s-padding;
      padding-left: $btn-h-s-padding;
    }

    &.btn-rounded {
      border-radius: $btn-small-size/2;
    }

    &.btn-circle {
      padding: 0;
      width: $btn-small-size;
      height: $btn-small-size;
    }
  }

  // button expanding to full width
  // mixin for button expanding
  @mixin btn-full($postfix: '') {
    .btn-full#{$postfix} {
      width: 100%;
      text-align: center;
      &.btn-icon-left,
      &.btn-icon-right {
        padding-left: $btn-icon-padding;
        padding-right: $btn-icon-padding;
      }
      + .btn { margin-top: $btnblock-btn-margin;}
    }
  }

  // button expanding for all layouts
  @include btn-full;

  @include media-w-l {
    @include btn-full('-l');
  }

  @include media-w-m {
    @include btn-full('-m');
  }

  @include media-w-s {
    @include btn-full('-s');
  }

  @include media-w-xs {
    @include btn-full('-xs');
  }

// ----------------------------
// COLORS

  @mixin button-colors(
    $bg-color: false,
    $border: false,
    $box-shadow: false,
    $text-color: false,
    $hover-bg-color: false,
    $hover-border: false,
    $hover-box-shadow: false,
    $hover-text-color: false,
    $active-bg-color: false,
    $active-border: false,
    $active-box-shadow: false,
    $active-text-color: false,
    $disabled-bg-color: false,
    $disabled-border: false,
    $disabled-box-shadow: false,
    $disabled-text-color: false) {

    background-color: $bg-color;
    border: $border;
    box-shadow: $box-shadow;
    color: $text-color;

    &:hover {
      background-color: $hover-bg-color;
      border: $hover-border;
      box-shadow: $hover-box-shadow;
      color: $hover-text-color;
    }

    &:active, &.active {
      background-color: $active-bg-color;
      box-shadow: $active-box-shadow;
      border: $active-border;
      color: $active-text-color;
    }

    &.disabled,
    &[disabled] {
      background-color: $disabled-bg-color;
      border: $disabled-border;
      box-shadow: $disabled-box-shadow;
      color: $disabled-text-color;
    }
  }

  // button primary
  .btn-primary {
    @include button-colors(
      $bg-color: $btn-primary-bg-color,
      $border: $btn-primary-border,
      $box-shadow: $btn-primary-box-shadow,
      $text-color: $btn-primary-text-color,
      $hover-bg-color: $btn-primary-hover-bg-color,
      $hover-border: $btn-primary-hover-border,
      $hover-box-shadow: $btn-primary-hover-box-shadow,
      $hover-text-color: $btn-primary-hover-text-color,
      $active-bg-color: $btn-primary-active-bg-color,
      $active-border: $btn-primary-active-border,
      $active-box-shadow: $btn-primary-active-box-shadow,
      $active-text-color: $btn-primary-active-text-color,
      $disabled-bg-color: $btn-primary-disabled-bg-color,
      $disabled-border: $btn-primary-disabled-border,
      $disabled-box-shadow: $btn-primary-disabled-box-shadow,
      $disabled-text-color: $btn-primary-disabled-text-color
    );
  }

  // button primary
  .btn-link {
    padding-right: $btn-h-padding/2;
    padding-left: $btn-h-padding/2;
    @include button-colors(
      $bg-color: $btn-link-bg-color,
      $border: $btn-link-border,
      $box-shadow: $btn-link-box-shadow,
      $text-color: $btn-link-text-color,
      $hover-bg-color: $btn-link-hover-bg-color,
      $hover-border: $btn-link-hover-border,
      $hover-box-shadow: $btn-link-hover-box-shadow,
      $hover-text-color: $btn-link-hover-text-color,
      $active-bg-color: $btn-link-active-bg-color,
      $active-border: $btn-link-active-border,
      $active-box-shadow: $btn-link-active-box-shadow,
      $active-text-color: $btn-link-active-text-color,
      $disabled-bg-color: $btn-link-disabled-bg-color,
      $disabled-border: $btn-link-disabled-border,
      $disabled-box-shadow: $btn-link-disabled-box-shadow,
      $disabled-text-color: $btn-link-disabled-text-color
    );
  }

// ----------------------------
// ICONS IN BUTTONS

  // button with floating icon
  .btn {
    .icon {
      height: 20px;
      position: relative;
      vertical-align: -5%;
      display: block;
      line-height: 20px;
      &.icon-s {
        vertical-align: -10%;
      }
    }
    .icon-left {
      margin-right: $btn-icon-margin;
      left: -3px;
      float: left;
    }
    .icon-right {
      margin-left: $btn-icon-margin;
      right: -3px;
      float: right;
    }
  }

  // large button with floating icon
  .btn-large {
    .icon {
      vertical-align: -7%;
    }
    .icon-left {
      margin-right: $btn-l-icon-margin;
    }
    .icon-right {
      margin-left: $btn-l-icon-margin;
    }
  }

  // button with positioned icon
  .btn-icon-left,
  .btn-icon-right {
    position: relative;
    .icon {
      position: absolute;
      display: block;
      top: 50%;
      line-height: 20px;
      transform: translateY(-50%);
    }
  }

  .btn-icon-left {
    padding-left: $btn-icon-padding;
    .icon {
      left: $btn-icon-position;
    }
  }

  .btn-icon-right {
    padding-right: $btn-icon-padding;
    .icon {
      right: $btn-icon-position;
    }
  }

// ----------------------------
// LAYOUTS

  // button line
  .btn-line {
    & > .btn,
    & > .btn-dropdown {
      margin-right: $btnline-btn-margin;
      &:last-child {margin-right: 0;}
    }
  }

  // mixin for btn-line-stack
  @mixin btn-line-stack($postfix: '') {
    .btn-line-stack#{$postfix} {
      @include clearfix;
      & > .btn,
      & > .btn-dropdown {
        margin-top: $btnblock-btn-margin;
        float: left;
        clear: both;
        &:first-child {margin-top: 0;}
      }
    }
  }

  @include media-w-l {
    @include btn-line-stack('-l');
  }

  @include media-w-m {
    @include btn-line-stack('-m');
  }

  @include media-w-s {
    @include btn-line-stack('-s');
  }

  @include media-w-xs {
    @include btn-line-stack('-xs');
  }

  // button block
  .btn-block {
    @include clearfix;
    & > .btn,
    & > .btn-line,
    & > .btn-dropdown {
      margin-top: $btnblock-btn-margin;
      float: left;
      clear: both;
      &:first-child {margin-top: 0;}
    }
  }

// ----------------------------
// GROUPS AND BARS

  // -----------------
  // button groups

    .btn-group {

      display: inline-block;

      border-radius: $btn-border-radius;

      // if butons have box shadow it have to be on button group
      box-shadow: $btn-group-box-shadow;

      @include clearfix;

      .btn {

        margin-left: -1px;
        position: relative;
        float: left;
        z-index: 1;

        // reset border radius if needed
        @if $btn-border-radius != null { border-radius: 0; }
        // reset box shadow if needed
        @if $btn-box-shadow != null { box-shadow: none; }

        background-clip: border-box;

        &:first-child {
          margin-left: 0;
          @if $btn-border-radius != null { @include border-left-radius($btn-border-radius, $clip: false); }
        }
        &:last-child {
          @if $btn-border-radius != null { @include border-right-radius($btn-border-radius, $clip: false); }
        }
        &:hover {
          z-index: 2;
          box-shadow: $btn-hover-box-shadow;
        }
        &:active, &.active {
          box-shadow: $btn-active-box-shadow;
        }
        &:disabled, &.disabled {
          z-index: 1;
          box-shadow: $btn-disabled-box-shadow;
        }
      } // btn
    } // btn group

    // mixin for button group stack
    @mixin btn-group-stack($postfix: '') {
      .btn-group-stack#{$postfix},
      .btn-group-stack-full#{$postfix} {
        display: inline-block;
        .btn {
          margin: 0;
          margin-top: -1px;
          width: 100%;
          display: block;
          float: none;
          text-align: left;
          &:first-child {
            @if $btn-border-radius != null {
              @include border-left-radius(0, $clip: false);
              @include border-top-radius($btn-border-radius, $clip: false);
            }
            margin-top: 0;
          }
          &:last-child {
            @if $btn-border-radius != null {
              @include border-right-radius(0, $clip: false);
              @include border-bottom-radius($btn-border-radius, $clip: false);
            }
          }
        } // btn
      }
      .btn-group-stack-full#{$postfix} {
        width: 100%;
        display: block;
      }
    } // btn group stack mixin

    // button group stack and stack full
    @include btn-group-stack;


    @include media-w-l {
      @include btn-group-stack('-l');
    } // media l

    @include media-w-m {
      @include btn-group-stack('-m');
    } // media m

    @include media-w-s {
      @include btn-group-stack('-s');
    } // media s

    @include media-w-xs {
      @include btn-group-stack('-xs');
    } // media xs

    // button group stack colors
    @mixin button-in-group-stack-colors (
      $has-border: true,
      $in-group-border: false,
      $in-group-hover-border: false,
      $in-group-active-border: false,
      $in-group-disabled-border: false
    ) {

      $border: 1px;

      @if $has-border ==  false {
        $border: 1px 0 1px 0;
      } @else {
        $border: 1px;
      }

      border: $in-group-border;
      border-width: $border;

      @if $has-border == false {
        &:first-child {
          border-top: 0;
        }
        &:last-child {
          border-bottom: 0;
        }
      }

      &:hover {
        border: $in-group-hover-border;
        border-width: $border;

        @if $has-border == false {
          &:first-child {
            border-top: 0;
          }
          &:last-child {
            border-bottom: 0;
          }
        }
      } // hover

      &:active, &.active {
        @if $in-group-active-border != null {
          border: $in-group-active-border;
          border-width: $border;

          &:first-child {
            border-top: 0;
          }
          &:last-child {
            border-bottom: 0;
          }
        }
      } // active

      &:disabled, &.disabled {
        @if $in-group-disabled-border != null {
          border: $in-group-disabled-border;
          border-width: $border;

          &:first-child {
            border-top: 0;
          }
          &:last-child {
            border-bottom: 0;
          }
        }
      } // disabled
    }

    // mixin for button in group colors
    @mixin button-in-group-colors (
      $has-border: true,
      $in-group-border: false,
      $in-group-hover-border: false,
      $in-group-active-border: false,
      $in-group-disabled-border: false
    ){

      .btn-group & {

        border-left: $in-group-border;
        border-right: $in-group-border;

        @if $has-border == false {
          &:first-child {
            border-left: 0;
          }
          &:last-child {
            border-right: 0;
          }
        }

        &:hover {
          border-left: $in-group-hover-border;
          border-right: $in-group-hover-border;

          @if $has-border == false {
            &:first-child {
              border-left: 0;
            }
            &:last-child {
              border-right: 0;
            }
          }
        }

        &:active, &.active {
          @if $in-group-active-border != null {
            border-left: $in-group-active-border;
            border-right: $in-group-active-border;

            @if $has-border == false {
              &:first-child {
                border-left: 0;
              }
              &:last-child {
                border-right: 0;
              }
            }
          }
        }

        &:disabled, &.disabled {
          @if $in-group-disabled-border != null and $has-border == false {
            border-left: $in-group-disabled-border;
            border-right: $in-group-disabled-border;
            &:first-child {
              border-left: 0;
            }
            &:last-child {
              border-right: 0;
            }
          } @else if $in-group-disabled-border != null and $has-border == true {
            border: $in-group-disabled-border;
          }
        }
      }

      .btn-group-stack &,
      .btn-group-stack-full & {
        @include button-in-group-stack-colors(
          $has-border: $has-border,
          $in-group-border: $in-group-border,
          $in-group-hover-border: $in-group-hover-border,
          $in-group-active-border: $in-group-active-border,
          $in-group-disabled-border: $in-group-disabled-border
        );
      }

      @include media-w-l {
        .btn-group-stack-l &,
        .btn-group-stack-full-l & {
          @include button-in-group-stack-colors(
            $has-border: $has-border,
            $in-group-border: $in-group-border,
            $in-group-hover-border: $in-group-hover-border,
            $in-group-active-border: $in-group-active-border,
            $in-group-disabled-border: $in-group-disabled-border
          );
        }
      }

      @include media-w-m {
        .btn-group-stack-m &,
        .btn-group-stack-full-m & {
          @include button-in-group-stack-colors(
            $has-border: $has-border,
            $in-group-border: $in-group-border,
            $in-group-hover-border: $in-group-hover-border,
            $in-group-active-border: $in-group-active-border,
            $in-group-disabled-border: $in-group-disabled-border
          );
        }
      }

      @include media-w-s {
        .btn-group-stack-s &,
        .btn-group-stack-full-s & {
          @include button-in-group-stack-colors(
            $has-border: $has-border,
            $in-group-border: $in-group-border,
            $in-group-hover-border: $in-group-hover-border,
            $in-group-active-border: $in-group-active-border,
            $in-group-disabled-border: $in-group-disabled-border
          );
        }
      }

      @include media-w-xs {
        .btn-group-stack-xs &,
        .btn-group-stack-full-xs & {
          @include button-in-group-stack-colors(
            $has-border: $has-border,
            $in-group-border: $in-group-border,
            $in-group-hover-border: $in-group-hover-border,
            $in-group-active-border: $in-group-active-border,
            $in-group-disabled-border: $in-group-disabled-border
          );
        }
      }
    }

    // button in group - colors

    .btn {
      @include button-in-group-colors(
        $has-border: true,
        $in-group-border: $btn-in-group-border,
        $in-group-hover-border: $btn-in-group-hover-border,
        $in-group-active-border: $btn-in-group-active-border,
        $in-group-disabled-border: $btn-in-group-disabled-border
      );
    }

    .btn-primary {
      @include button-in-group-colors(
        $has-border: true,
        $in-group-border: $btn-primary-in-group-border,
        $in-group-hover-border: $btn-primary-in-group-hover-border,
        $in-group-active-border: $btn-primary-in-group-active-border,
        $in-group-disabled-border: $btn-primary-in-group-disabled-border
      );
    }

  // -----------------
  // button bars

    .btn-bar {
      @include clearfix;
      .btn-group {
        float: left;
        margin-right: $btnbar-btngroup-margin;
        &:last-child {margin-right: 0;}
      }
    }

    // mixin for button bar stack
    @mixin btn-bar-stack($postfix: '') {
      .btn-bar-stack#{$postfix} {
        .btn-group {
          clear: both;
          margin-right: 0;
          margin-top: $btnbar-btngroup-margin;
          &:first-child {margin-top: 0;}
        }
      }
    }

    @include btn-bar-stack;

    @include media-w-l {
      @include btn-bar-stack('-l');
    }

    @include media-w-m {
      @include btn-bar-stack('-m');
    }

    @include media-w-s {
      @include btn-bar-stack('-s');
    }

    @include media-w-xs {
      @include btn-bar-stack('-xs');
    }

// ----------------------------
// SPLIT AND DROPDOWNS

  // button dropdown

  .btn-dropdown {
    position: relative;
    display: inline-block;
    .btn:not([class*='btn-split']),
    .btn:not([class*='btn-split-control']):not([class*='btn-split']) {
      padding-right: $btn-icon-padding;
      position: relative;
      text-align: left;
      .icon-dropdown {
        position: absolute;
        display: block;
        top: 50%;
        right: $btn-icon-position;
        line-height: 20px;
        transform: translateY(-50%);
      }

      &.active {
        @if $btn-border-radius != null { @include border-bottom-radius(0); }
      }
    }
  }

  // split button
  .btn-dropdown-split {

    border-radius: $btn-border-radius;

    // if butons have box shadow it have to be on button group
    box-shadow: $btn-group-box-shadow;

    @include clearfix;

    &.disabled {
      box-shadow: $btn-group-disabled-box-shadow;
    }

    .btn {
      margin-left: -1px;
      position: relative;
      z-index: 1;

      // reset border radius if needed
      @if $btn-border-radius != null { border-radius: 0; }
      // reset box shadow if needed
      @if $btn-box-shadow != null { box-shadow: none; }

      background-clip: border-box;

      &:hover {
        z-index: 2;
        box-shadow: $btn-hover-box-shadow;
      }
      &:active, &.active {
        box-shadow: $btn-active-box-shadow;
      }
      &:disabled, &.disabled {
        z-index: 1;
        box-shadow: $btn-disabled-box-shadow;
      }
    }

    .btn-split {
      float: left;
      margin-left: 0;
      @if $btn-border-radius != null { @include border-left-radius($btn-border-radius, $clip: false); }
    }

    .btn-split-control {
      float: right;
      @if $btn-border-radius != null { @include border-right-radius($btn-border-radius, $clip: false); }
    }

    &.active {
      .btn-split {
        @if $btn-border-radius != null { @include border-radius(0, 'bottom left', false); }
      }
      .btn-split-control {
        @if $btn-border-radius != null { @include border-radius(0, 'bottom right', false); }
      }
    }

  }


  // mixin fot button split colors
  @mixin button-split-colors (
    $has-border: true,
    $split-border: false,
    $split-hover-border: false,
    $split-active-border: false,
    $split-disabled-border: false
  ){

    .btn-dropdown-split & {

      border-left: $split-border;
      border-right: $split-border;

      @if $has-border == false {
        &.btn-split-control {
          border-right: 0;
        }
        &.btn-split {
          border-left: 0;
        }
      }

      &:hover {
        border-left: $split-hover-border;
        border-right: $split-hover-border;

        @if $has-border == false {
          &.btn-split-control {
            border-right: 0;
          }
          &.btn-split {
            border-left: 0;
          }
        }
      }

      &:active, &.active {
        @if $split-active-border != null {
          border-left: $split-active-border;
          border-right: $split-active-border;
          &.btn-split-control {
            border-right: 0;
          }
          &.btn-split {
            border-left: 0;
          }
        }
      }

      &:disabled, &.disabled {
        @if $split-disabled-border != null and $has-border == false {
          border-left: $split-disabled-border;
          border-right: $split-disabled-border;
          &.btn-split-control {
            border-right: 0;
          }
          &.btn-split {
            border-left: 0;
          }
        } @else if $split-disabled-border != null and $has-border == true {
          border: $split-disabled-border;
        }
      }
    }
  }

  .btn {
    @include button-split-colors(
      $split-border: $btn-in-group-border,
      $split-hover-border: $btn-in-group-hover-border,
      $split-active-border: $btn-in-group-active-border,
      $split-disabled-border: $btn-in-group-disabled-border
    );
  }

  .btn-primary {
    @include button-split-colors(
      $split-border: $btn-primary-in-group-border,
      $split-hover-border: $btn-primary-in-group-hover-border,
      $split-active-border: $btn-primary-in-group-active-border,
      $split-disabled-border: $btn-primary-in-group-disabled-border
    );
  }

  // mixin for btn-dropdown-full
  @mixin btn-dropdown-full($postfix: '') {
    .btn-dropdown-full#{$postfix} {
      width: 100%;
      .btn {
        width: 100%;
      }
      .btn-split {
        width: auto;
        margin-right: $btn-split-control-width - 1px;
        float: none;
        display: block;
      }
      .btn-split-control {
        width: $btn-split-control-width;
        padding-left: 0;
        padding-right: 0;
        float: right;
        text-align: center;
      }
    }
  }

  // dropdown full
  @include btn-dropdown-full();

  @include media-w-l {
    @include btn-dropdown-full('-l');
  }

  @include media-w-m {
    @include btn-dropdown-full('-m');
  }

  @include media-w-s {
    @include btn-dropdown-full('-s');
  }

  @include media-w-xs {
    @include btn-dropdown-full('-xs');
  }
