$icon-caretdown: "\e600";
$icon-caretright: "\e601";
$icon-caretleft: "\e602";
$icon-caretup: "\e603";
$icon-twitter: "\f099";
$icon-facebook: "\f09a";
$icon-facebook-f: "\f09a";
$icon-linkedin: "\f0e1";
$icon-youtube: "\f167";
$icon-add: "\e069";
$icon-time: "\e08e";
$icon-attach: "\e0c0";
$icon-download: "\e0ff";
$icon-upload: "\e100";
$icon-chevrondown: "\e10f";
$icon-chevronleft: "\e110";
$icon-chevronright: "\e111";
$icon-chevronup: "\e112";
$icon-edit: "\e15e";
$icon-check: "\e206";
$icon-close: "\e209";
$icon-ellipsis: "\e20f";
$icon-refresh: "\e211";
$icon-calendar: "\e21c";
$icon-user: "\e253";
$icon-doc: "\e272";
$icon-home: "\e29e";
$icon-search: "\e2ca";
$icon-settings: "\e2cb";
$icon-arrowup: "\e608";
$icon-arrowright: "\e609";
$icon-arrowdown: "\e60a";
$icon-arrowleft: "\e60b";
$icon-arrowcircleup: "\e60c";
$icon-arrowcircleright: "\e60d";
$icon-arrowcircledown: "\e60e";
$icon-arrowcircleleft: "\e60f";
$icon-googleplus: "\e610";
$icon-eye: "\e9ce";
$icon-code: "\ea80";
