extends layouts/_default

//- Options
//- block prepend options

//- Content
block append content

  article.main-content.welcome

    h1.welcome_headline
      span.text-transform-upper.text-bold Alchemy
      a.text-transform-upper(href='/styleguide/docs/introduction/') See demo
